// Warna

$white: #fefefe;
$black: #2e2e2e;
$yellow: #DDAB52;
$grey: #a0a0a0;


// Font weight

$regular: 400;
$medium: 500;
$semi-bold: 600;

// Font size across breakpoints
    // h1 : Big site heading
$h1-mobile: 4rem;
$h1-tab: 6.25rem;
$h1-desktop: 8.125rem;

    // p : paragraphs / subheading
$p-mobile: 0.95rem;
// $p-tab: ;
// $p-desktop: ;

    // h2 : Level 2 heading
// $h2-mobile: ;
// $h2-tab: ;
// $h2-desktop: ;

    // h3 : 
// $h3-mobile: ;
// $h3-tab: ;
// $h3-desktop: ;

    // h4 : 
// $h4-mobile: ;
// $h4-tab: ;
// $h4-desktop: ;

    // h5 : 
// $h5-mobile: ;
// $h5-tab: ;
// $h5-desktop: ;

    // h6 : 
// $h6-mobile: ;
// $h6-tab: ;
// $h6-desktop: ;